.Password {
    position: absolute;
    left: 23.23%;
    right: 58.79%;
    top: 47.25%;
    bottom: 47.25%;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.back {
    position: absolute;
    top: 13px;
}

.form-signin {
    background-color: rgba(255, 255, 255, 0.62);
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


footer {
    height: 100px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #D245C3;
}

.author_h {
    position: absolute;
    Width: 326px;
    Height: 29px;
    Top: 60px;
    Left: 1200px;
}


.post {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content {
    margin-left: 10px;
    margin-bottom: 15px
}

.post-title {
    margin: 0;
}

.post-meta {
    font-size: 12px;
    color: #999;
    margin: 5px 0;
}

.post-text {
    margin: 0;
}

.post-content img {
    max-width: 100%;
    margin-top: 10px;
}

.post-container {
    width: 60%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    padding: 10px;
    border-radius: 5px; /* Закругленные углы блока поста */
}

.post-container:hover {
    background-color: rgba(255, 255, 255, 1); /* Полностью непрозрачный фон при наведении */
}


body {
    background-image: url("/static/img/img1.jpg");
    background-size: cover; /* Растянуть фон на всю площадь */
    background-repeat: no-repeat;
    display: flex;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px; /* Оставить место для футера */
    overflow: auto; /* Включить прокрутку, если необходимо */
    scrollbar-width: thin; /* Скрыть полосу прокрутки в большинстве браузеров */
    scrollbar-color: transparent transparent;
/
}


.container::-webkit-scrollbar {
    width: 6px; /* Ширина полосы прокрутки в WebKit-браузерах */
}

.container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Цвет полосы прокрутки в WebKit-браузерах */
}

.flex-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #D245C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#postsContainer {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.main-button {
    font-family: 'Raleway', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 0.035em;
    text-decoration: none;
    color: #000000;
    background: #EDB423;
    border-radius: 5px;
    margin-right: 10px;
}

.login-button {
    margin-left: auto;
}

.main-button:hover {
    text-decoration: underline white;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-button {
    color: black;
    margin-right: 10px;
}

.copyright {
    margin-left: auto;
    color: white;
}


#notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 99999999;
}

.input-file {
    position: relative;
    display: inline-block;
}
.input-file-text {
    padding: 0 10px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 200px;
    border-radius: 6px 0px 0 6px;
    border: 1px solid #ddd;
}
.input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
    background-color: #59be6e;
}
.input-file:active .input-file-btn {
    background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
    background-color: #eee;
}

.input-file {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.input-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.input-file-text {
    font-size: 14px;
    color: #777;
}

.input-file:hover,
.input-file:focus {
    border-color: #aaa;
}

.form-avatar {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}
